@using Web.Data.Models
@inject NavigationManager _navigationManager
@page "/Publishers"

<h1>Издатели</h1>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
    </tr>
    </thead>
    <tbody>
    @if (Publishers != null)
    {
        @foreach (var publisher in Publishers)
        {
            <tr  @onclick="()=>toItem(publisher)">
                <td>@publisher.Id</td>
                <td>@publisher.Name</td>
            </tr>
        }
    }
    </tbody>
</table>

@code {
    [Parameter]
    public string PublisherId { get; set; }
    public List<Publisher> Publishers { get; set; }
    public Web.Data.Models.Publisher? CurrentPublisher { get; set; }
    [Inject]
    private Services.IPublishersProvider publishersProvider { get; set; }
    protected async override Task OnInitializedAsync()
    {
        CurrentPublisher = await publishersProvider.GetOne(Int32.Parse(PublisherId));
        Publishers = await publishersProvider.GetAll();
        Console.WriteLine(CurrentPublisher);
        base.OnInitialized();
    }
    public void toItem(Publisher publisher)
    {
        _navigationManager.NavigateTo($"/Publisher/{publisher.Id}");
    }
}
